WAGTAIL_API_URL=http://localhost:8000/wt/api/nextjs
NEXT_PUBLIC_WAGTAIL_API_URL=/wt/api/nextjs
NEXT_PUBLIC_API_URL=http://localhost:8000/api
NEXT_PUBLIC_REKENKERN_API_URL=http://localhost:7000
MOCK_RESPONSE_API=true