@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 47.4% 11.2%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 47.4% 11.2%;

        --primary: 208 100% 19%;
        --primary-foreground: 210 40% 98%;

        --secondary: 207 74% 52% / 0.25;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --accent: 206 74% 52%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 100% 50%;
        --destructive-foreground: 210 40% 98%;

        --ring: 215 20.2% 65.1%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 224 71% 4%;
        --foreground: 213 31% 91%;

        --muted: 223 47% 11%;
        --muted-foreground: 215.4 16.3% 56.9%;

        --accent: 216 34% 17%;
        --accent-foreground: 210 40% 98%;

        --popover: 224 71% 4%;
        --popover-foreground: 215 20.2% 65.1%;

        --border: 216 34% 17%;
        --input: 216 34% 17%;

        --card: 224 71% 4%;
        --card-foreground: 213 31% 91%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 1.2%;

        --secondary: 222.2 47.4% 11.2%;
        --secondary-foreground: 210 40% 98%;

        --destructive: 0 63% 31%;
        --destructive-foreground: 210 40% 98%;

        --ring: 216 34% 17%;

        --radius: 0.5rem;
    }

    * {
        @apply border-border;
        font-family: 'Open Sans', sans-serif;
        color: hsl(var(--primary));
    }
    body {
        @apply bg-background text-foreground;
        font-feature-settings:
            'rlig' 1,
            'calt' 1;
    }
    h1 {
        font-size: 1.625rem;
        font-weight: 700;
    }
    h2 {
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 2rem;
    }

    p {
        color: hsl(var(--primary));
        font-weight: 400;
        font-size: 0.875rem;
    }
}
html,
body,
body > #__next {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.leaflet-container {
    position: absolute !important;
    width: 100%;
    height: 100%;
}
@import '~leaflet/dist/leaflet.css';

.map__text_icon {
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    text-shadow: 0px 0px 6px #fff;
    white-space: nowrap;
    position: relative;
}
.map__text_icon span {
    pointer-events: none;
    color: currentColor;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    padding: 2px;
    border: 2px solid;
    border-radius: 50%;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.4);
    transition: all 0.2s ease-in-out;
    aspect-ratio: 1 / 1;
    justify-content: center;
    width: 24px;
}

.energy-balance-map .leaflet-interactive {
    transition: 0.3s all ease-in-out;
}
.energy-balance-map .leaflet-interactive:hover {
    fill-opacity: 0.2 !important;
    stroke: #aa0067;
}
.energy-balance-map .leaflet-interactive[stroke-dasharray='10'] {
    animation:
        dash2 5s linear infinite,
        blink 2s linear infinite;
    /* fill-opacity: 0 !important; */
}
@keyframes dash2 {
    to {
        stroke-dashoffset: -100;
    }
}

@keyframes blink {
    0% {
        fill-opacity: 0.2;
    }
    50% {
        fill-opacity: 0.8;
    }
    100% {
        fill-opacity: 0.2;
    }
}

.DialogOverlay {
    background: rgba(0 0 0 / 0.5);
    opacity: 1;
}
