.EnergyBalanceLegend {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #000;
    padding: 0.5rem;
}
.EnergyBalanceLegend ul {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.EnergyBalanceLegend li {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    margin-right: 0.5rem;
}
.EnergyBalanceLegend span {
    width: 1rem;
    height: 1rem;
    flex: 0 0 1rem;
    border-radius: 0.1rem;
}
.EnergyBalanceAside {
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    height: 100%;
    z-index: 1700;
    padding: 1rem;
}
.EnergyBalanceAside__inner {
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
}

.ButtonWithSwitch {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: initial;
    border-radius: 0.5rem;
}
.ButtonWithSwitch__active {
    background-color: hsl(var(--primary) / 0.9);
    color: white;
}
.ButtonWithSwitch:hover {
    background-color: hsl(var(--primary) / 0.4);
    color: white;
}
.ButtonWithSwitch__active:hover {
    background-color: hsl(var(--primary) / 0.9);
    color: white;
}
.ButtonWithSwitch:hover input {
    color: #000 !important;
}

/* .ButtonWithSwitch:hover input, */
.ButtonWithSwitch:hover span,
.ButtonWithSwitch:hover .ButtonWithSwitch__details__right svg path,
/* .ButtonWithSwitch__active input, */
.ButtonWithSwitch__active span,
.ButtonWithSwitch__active strong,
.ButtonWithSwitch__active .ButtonWithSwitch__details__right svg path {
    color: white;
}

.ButtonWithSwitch__active input {
    color: #000;
}
.ButtonWithSwitch__summary {
    color: inherit;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
}
.ButtonWithSwitch__details {
    color: inherit;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.ButtonWithSwitch__details__left {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
}
.ButtonWithSwitch__label {
}

.SectoralNewProject__title {
    color: white;
    border-top: #fff 1px solid;
    padding-top: 1rem;
}
