version: "3.8"

services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ..:/workspace:cached
    env_file:
      - .env
    ports:
      - "7000:7000"
    depends_on:
      - redis
    command:
      [
        "poetry",
        "run",
        "uvicorn",
        "app:app",
        "--host",
        "0.0.0.0",
        "--port",
        "7000",
        "--reload",
      ]

  redis:
    image: "redis:latest"
    ports:
      - "6379:6379"
